@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.moreTags{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 1240px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.text{
    font-family: "Roboto", sans-serif;
    font-weight:500;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
}