@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.header{
    width: 100%;
    height: 56px;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: right;
}